@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.381);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: rgb(255, 255, 255);
  width: 80%;
  max-width: 940px;
  height: auto;
  max-height: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.navLeft {
  flex: 1;
  padding: 5px 0 0 10px;
  font-size: 1.2rem;
  color: #132A52;
}
.sucsTitle {
  margin: 10px 0;
  padding: 0;
}
.sucsMsg {
  margin: 10px 0;
  padding: 0;
}

.close {
  padding: 15px;
}

.close-img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  column-count: 2;
  column-gap: 19px;
}

@media(min-width: 768px) {
  .flex-container {
    flex-direction: row;
    justify-content: space-between;

  }
}

.main-inner {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.certificate {
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}


.certificate-container {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.certificate-view {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}


.certificate-words {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
}


.topdescription {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-align: center;
  font-family: 'Georgia', serif;
  font-size: 1.5vw;
  white-space: normal;
  word-wrap: break-word;
  padding: 0 5%;
}

.recipientname {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 45%;
  width: 90%;
  text-align: center;
  font-family: 'Poppins', serif;
  font-size: 2vw;
  white-space: normal;
  word-wrap: break-word;
  padding: 0 5%;
}

.detail-description {
  position: absolute;
  top: 55%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 1vw;
  white-space: normal;
  word-wrap: break-word;
  padding: 0 5%;
}

.certificate-date {
  position: absolute;
  bottom: 10%;
  left: 30%;
  transform: translateX(-50%);
  font-family: 'Arial', sans-serif;
  font-size: 1vw;
}

.certifiedby {
  position: absolute;
  bottom: 10%;
  left: 80%;
  transform: translateX(-50%);
  font-family: 'Arial', sans-serif;
  font-size: 1vw;
}

.certificatelogo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 6vw;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  background-color: transparent;
  overflow: hidden;
}

.certificatesignature {
  width: 100%;
}

.rightBox {
  flex: 0 1 auto;
  width: 100%;
  max-width: 300px;
}

.rightBox .btnBox {
  width: 100%;
  height: auto;
  border: 2px solid rgb(235, 235, 235);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(235, 235, 235);
  padding-bottom: 2rem;
}

.btnBox h4 {
  font-size: 95%;
  font-weight: bold;
  margin-bottom: 10px;
}

.rightBox .file-detail {
  width: 100%;
  height: auto;
}

.btnBox {
  color: #132A52;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.btn1,
.btn2,
.btn3 {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.btn2 {
  background-color: #132A52;
  color: white;
  position: relative;
}

.btn2 img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
}

.file-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 16px;
  font-size: 0.875rem;
  color: #666;
}

.file-detail h4 {
  margin: 4px 0;
  font-weight: normal;
}

.file-detail h3 {
  margin: 4px 0;
  font-weight: 500;
}

.file-detail span {
  color: #132A52;
  font-size: 0.875rem;
  font-weight: 700;
}

.license {
  display: flex;
  gap: 8px;
}

.license span {
  padding-top: 5px;
}

.file-detail h3 {
  color: #000;
  font-size: 0.875rem;
  font-weight: 700;
}

.file-detail h3 span {
  color: #132A52;
}


@media(max-width: 768px) {

  .rightBox {
    margin-left: 0;
    margin-top: 20px;
    max-width: 100%;
  }

  .container {
    height: auto;
    padding: 5px;

  }

  .flex-container {
    padding: 10px;
    padding-top: 0;
  }

  .sucsTitle {
    font-size: 3vw;
    margin-bottom: 0;
  }

  .sucsMsg {
    font-size: 2vw;
    margin-top: 0;
  }

.btnBox h4 {
  font-size: 3vw;
  font-weight: bold;
  padding: 0;
  margin-bottom: 0;

}

  .main-inner{
    width: 100%;
    min-width: 100%;
  }
  .btn1, .btn2, .btn3 {
    width: 80%;
    height: 40px;
    font-size: 2.2vw;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

}

@media (min-width: 768px) and (max-width: 1024px) { 
  .rightBox{
    min-width: 30%;
  }
  .main-inner{
    min-width: 65%;
  }
  .container {
    width: 85%;
    height: auto;
    padding: 5px;

  }

}